@import "buttons/manifest";

.m-box-guide button {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.btn-par1 {
  @include btn-main(#68D286);
p {
  color: $button-color;
  @extend %btn-text-fix;
 }
 &:hover {
  @extend %btn-main-hover;
 }
}

.btn-par2 {
  @include btn-main(#50A8FF);
p {
  color: $button-color;
  @extend %btn-text-fix;
 }
 &:hover {
  @extend %btn-main-hover;
 }
}
