
@font-face {
    font-family: 'orbitronbold';
    src: url('fonts/orbitron-bold-webfont.eot');
    src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-bold-webfont.woff') format('woff'),
         url('fonts/orbitron-bold-webfont.ttf') format('truetype'),
         url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orbitronregular';
    src: url('fonts/orbitron-regular-webfont.eot');
    src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-regular-webfont.woff') format('woff'),
         url('fonts/orbitron-regular-webfont.ttf') format('truetype'),
         url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blade_runner_movie_fontRg';
    src: url('fonts/bladrmf_-webfont.eot');
    src: url('fonts/bladrmf_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bladrmf_-webfont.woff') format('woff'),
         url('fonts/bladrmf_-webfont.ttf') format('truetype'),
         url('fonts/bladrmf_-webfont.svg#blade_runner_movie_fontRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?z2ezix');
  src:url('fonts/icomoon.eot?#iefixz2ezix') format('embedded-opentype'),
    url('fonts/icomoon.woff?z2ezix') format('woff'),
    url('fonts/icomoon.ttf?z2ezix') format('truetype'),
    url('fonts/icomoon.svg?z2ezix#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e601";
}
.icon-calendar:before {
  content: "\e600";
}
.icon-print:before {
  content: "\e602";
}
.icon-keyboard:before {
  content: "\e603";
}
.icon-cogs:before {
  content: "\e604";
}
.icon-meter:before {
  content: "\e605";
}
.icon-target:before {
  content: "\e606";
}
.icon-lightning:before {
  content: "\e607";
}
.icon-menu:before {
  content: "\e60b";
}
.icon-globe:before {
  content: "\e608";
}
.icon-earth:before {
  content: "\e609";
}
.icon-spam:before {
  content: "\e60a";
}

h1 {
  font-family: $headlines;
  color: $hl-color-one;
  font-size: $h1-size;
  margin-top: .5em;
  margin-bottom: .5em;
  @include media($tablet){
    font-size: ($h1-size * 0.7);
  }
  @include media($mobile){
    font-size: ($h1-size * 0.5);
  }
}

h2 {
  font-family: $headlines;
  color: $hl-color-two;
  font-size: $h2-size;
  margin-top: .5em;
  margin-bottom: .5em;
  @include media($tablet){
    font-size: ($h2-size * 0.7);
  }
  @include media($mobile){
    font-size: ($h2-size * 0.5);
  }
}

p {
  font-family: $parag;
  color: $p-color;
  font-size: $p-size;
  @include media($mobile){
    font-size: ($p-size * 0.7);
  }
}

a {
  font-family: $anchor;
  text-decoration: none;
  font-weight: 700;
  color: $a-color;
}

.style-link {
  margin-top: 1.5em;
  display: inline-block;
}

.icon-style {
  font-size: $icon-size;
  padding: 0.3em;
  margin-top: 1em;
  display: inline-block;
  &:hover{
    color: tomato;
  }
  @include media($tablet){
    font-size: ($icon-size * 0.7);
  }
  @include media($mobile){
    font-size: ($icon-size * 0.5);
  }
}


// This is the default style for heading elements

 .l-style h1 {
  font-family: $headlines;
  font-size: $h1-box-size;
  text-align: center;
  color: $box-text;
  margin: 0;
  @include media($tablet){
    font-size: ($h1-box-size * 0.7);
  }
  @include media($mobile){
    font-size: ($h1-box-size * 0.5);
  }
}

.icon-responsive {
  display:inline-block;
  font-size: 3em;
  position: fixed;
  top: -0.83em;
  left:0.5em;
  @include media($tablet){
    top: -0.6em;
    font-size: ($h3-box-size * 1);
  }
  @include media($mobile){
    top: -0.6em;
    font-size: ($h3-box-size * 0.8);
  }
}

.l-foot h3 {
  font-family: $headlines;
  font-size: $h3-box-size;
  text-align: center;
  color: $box-text;
  margin: 0;
  @include media($tablet){
    font-size: ($h3-box-size * 0.7);
  }
  @include media($mobile){
    font-size: ($h3-box-size * 0.5);
  }
}

.m-border h1 {
  font-family: $parag;
  font-size: $h1-border-size;
  color: $box-text;
  margin: 0;
  @include media($tablet){
    font-size: ($h1-border-size * 0.7);
  }
  @include media($mobile){
    font-size: ($h1-border-size * 0.5);
  }
}


