 .l-style h1 {
  font-family: 'blade_runner_movie_fontRg';
  font-size: 4em;
  text-align: center;
  color: black;
  margin: 0;
}

.l-foot h3 {
  font-family: 'blade_runner_movie_fontRg';
  font-size: 2em;
  text-align: center;
  color: black;
  margin: 0;
}

.m-border h1 {
  font-family: 'Orbitron', 'sans-serif';
  font-size: 2em;
  color: black;
  margin: 0;
}
