
#menu {
  position:fixed;
  width:150px;
  left: 1.3em;
  top:6em;
  border: 0.3em solid $article-box;
  background-color:$box-color;
  @include media($tablet){
    top: (6em * 0.7);
  }
  @include media($mobile){
    top: 4em;
  }
}

.slide-up {
  visibility:hidden;
}

#menu a {
  display: block;
}
