// This is our color pallete box
@mixin m-box-color($color) {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: $color;
}
