
body {
  background-color: black;
}



// This is the container

.container {
  @include outer-container;
  text-align: center;
}


//make block span entire page!
@mixin header-bar{
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  background-color: white;
  display: block;
  padding-top: 1em;
}



@mixin footer-bar{
  width: 100%;
  position: relative;
  top: 0;
  height: 5em;
  background-color: white;
  display: block;
  padding-top: 1.5em;
  margin-top: 2em;
}


