/* line 2, ./bower_components/bower-neat/grid/grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
body {
  line-height: 1; }

/* line 34, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
ol, ul {
  list-style: none; }

/* line 37, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
blockquote, q {
  quotes: none; }

/* line 41, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'orbitronbold';
  src: url('fonts/orbitron-bold-webfont.eot');
  src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-bold-webfont.woff') format('woff'), url('fonts/orbitron-bold-webfont.ttf') format('truetype'), url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'orbitronregular';
  src: url('fonts/orbitron-regular-webfont.eot');
  src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-regular-webfont.woff') format('woff'), url('fonts/orbitron-regular-webfont.ttf') format('truetype'), url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'blade_runner_movie_fontRg';
  src: url('fonts/bladrmf_-webfont.eot');
  src: url('fonts/bladrmf_-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bladrmf_-webfont.woff') format('woff'), url('fonts/bladrmf_-webfont.ttf') format('truetype'), url('fonts/bladrmf_-webfont.svg#blade_runner_movie_fontRg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?z2ezix');
  src: url('fonts/icomoon.eot?#iefixz2ezix') format('embedded-opentype'), url('fonts/icomoon.woff?z2ezix') format('woff'), url('fonts/icomoon.ttf?z2ezix') format('truetype'), url('fonts/icomoon.svg?z2ezix#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 46, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 60, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-newspaper:before {
  content: "\e601"; }

/* line 63, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-calendar:before {
  content: "\e600"; }

/* line 66, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-print:before {
  content: "\e602"; }

/* line 69, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-keyboard:before {
  content: "\e603"; }

/* line 72, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-cogs:before {
  content: "\e604"; }

/* line 75, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-meter:before {
  content: "\e605"; }

/* line 78, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-target:before {
  content: "\e606"; }

/* line 81, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-lightning:before {
  content: "\e607"; }

/* line 84, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-menu:before {
  content: "\e60b"; }

/* line 87, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-globe:before {
  content: "\e608"; }

/* line 90, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-earth:before {
  content: "\e609"; }

/* line 93, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-spam:before {
  content: "\e60a"; }

/* line 97, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
h1 {
  font-family: 'blade_runner_movie_fontRg', Arial;
  color: #FF5982;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    h1 {
      font-size: 2.1em; } }
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 1.5em; } }

/* line 111, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
h2 {
  font-family: 'blade_runner_movie_fontRg', Arial;
  color: #CB68D2;
  font-size: 2.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    h2 {
      font-size: 1.54em; } }
  @media screen and (max-width: 479px) {
    h2 {
      font-size: 1.98em; } }

/* line 125, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
p {
  font-family: 'orbitronregular', Arial;
  color: #999999;
  font-size: 1em; }
  @media screen and (max-width: 479px) {
    p {
      font-size: 1em; } }

/* line 134, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
a {
  font-family: 'orbitronbold', Arial;
  text-decoration: none;
  font-weight: 700;
  color: #50A8FF; }

/* line 141, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.style-link {
  margin-top: 1.5em;
  display: inline-block; }

/* line 146, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-style {
  font-size: 2.5em;
  padding: 0.3em;
  margin-top: 1em;
  display: inline-block; }
  /* line 151, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
  .icon-style:hover {
    color: tomato; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .icon-style {
      font-size: 1.75em; } }
  @media screen and (max-width: 479px) {
    .icon-style {
      font-size: 1.25em; } }

/* line 165, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.l-style h1 {
  font-family: 'blade_runner_movie_fontRg', Arial;
  font-size: 4em;
  text-align: center;
  color: #000000;
  margin: 0; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .l-style h1 {
      font-size: 2.8em; } }
  @media screen and (max-width: 479px) {
    .l-style h1 {
      font-size: 2em; } }

/* line 179, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.icon-responsive {
  display: inline-block;
  font-size: 3em;
  position: fixed;
  top: -0.83em;
  left: 0.5em; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .icon-responsive {
      top: -0.6em;
      font-size: 2em; } }
  @media screen and (max-width: 479px) {
    .icon-responsive {
      top: -0.6em;
      font-size: 1.6em; } }

/* line 195, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.l-foot h3 {
  font-family: 'blade_runner_movie_fontRg', Arial;
  font-size: 2em;
  text-align: center;
  color: #000000;
  margin: 0; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .l-foot h3 {
      font-size: 1.4em; } }
  @media screen and (max-width: 479px) {
    .l-foot h3 {
      font-size: 1em; } }

/* line 209, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/typography */
.m-border h1 {
  font-family: 'orbitronregular', Arial;
  font-size: 2em;
  color: #000000;
  margin: 0; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .m-border h1 {
      font-size: 1.4em; } }
  @media screen and (max-width: 479px) {
    .m-border h1 {
      font-size: 1em; } }

/* line 3, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/layout */
body {
  background-color: black; }

/* line 11, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/layout */
.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  /* line 18, ./bower_components/bower-bourbon/addons/clearfix */
  .container:before, .container:after {
    content: " ";
    display: table; }
  /* line 23, ./bower_components/bower-bourbon/addons/clearfix */
  .container:after {
    clear: both; }

/* line 16, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/layout */
.l-style {
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  background-color: white;
  display: block;
  padding-top: 1em; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .l-style {
      height: 4.2em; } }
  @media screen and (max-width: 479px) {
    .l-style {
      height: 4em; } }

/* line 20, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/layout */
.l-foot {
  width: 100%;
  position: relative;
  top: 0;
  height: 5em;
  background-color: white;
  display: block;
  padding-top: 1.5em;
  margin-top: 2em; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    .l-foot {
      height: 3.5em; } }
  @media screen and (max-width: 479px) {
    .l-foot {
      height: 3em; } }

/* line 4, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules/extends */
.m-box-guide {
  position: relative;
  border: 0.2em solid #ffffff;
  max-width: 50em;
  background-color: transparent;
  padding: 4em 2em;
  margin: 0 auto;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4.5em; }

/* line 18, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules/extends */
.m-border {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  padding: 1em 0; }

/* line 2, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules/menu */
#menu {
  position: fixed;
  width: 150px;
  left: 1.3em;
  top: 6em;
  border: 0.3em solid #50A8FF;
  background-color: #ffffff; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    #menu {
      top: 4.2em; } }
  @media screen and (max-width: 479px) {
    #menu {
      top: 4em; } }

/* line 17, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules/menu */
.slide-up {
  visibility: hidden; }

/* line 21, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules/menu */
#menu a {
  display: block; }



/* line 11, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-blue {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #50A8FF; }

/* line 15, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-blue p {
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 3em; }

/* line 21, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-pink {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #FF5982; }

/* line 25, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-pink p {
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 3em; }

/* line 31, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-green {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #68D286; }

/* line 35, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-green p {
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 3em; }

/* line 41, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-purple {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #CB68D2; }

/* line 45, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-purple p {
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 3em; }

/* line 51, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-charc {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #FF6347; }

/* line 55, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
.m-box-charc p {
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 3em; }

/* line 64, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/modules */
input {
  margin-top: 4em; }

/* line 3, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons/extends */
.btn-par1:hover, .btn-par2:hover {
  cursor: pointer;
  background-color: tomato; }

/* line 11, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons/extends */
.btn-par1 p, .btn-par2 p {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg); }

/* line 3, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons */
.m-box-guide button {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }

/* line 10, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons */
.btn-par1 {
  width: 15em;
  height: 3em;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #68D286;
  border-radius: 0.5em;
  box-shadow: none;
  border: none;
  outline: none; }
  /* line 12, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons */
  .btn-par1 p {
    color: black; }

/* line 21, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons */
.btn-par2 {
  width: 15em;
  height: 3em;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #50A8FF;
  border-radius: 0.5em;
  box-shadow: none;
  border: none;
  outline: none; }
  /* line 23, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/buttons */
  .btn-par2 p {
    color: black; }

/* line 1, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/articles/extends */
article {
  border: 0.3em solid #50A8FF;
  padding: 1em;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5); }


/* line 7, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/articles */
.a-bloc {
  margin-top: 1.5em; }

/* line 1, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/forms/extends */
input {
  background-image: url(/images/blade-runner.png);
  background-size: 2em;
  background-position: 1em center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  height: 3em;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 5px;
  text-indent: 2.5em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
  width: 15%; }

/* line 26, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/forms/extends */
input:focus {
  background-position: 30em center;
  background-size: 2em;
  text-indent: 3em;
  width: 30%; }

/* line 13, /Users/waystylez1/ux-bootcamp/UXEBootCamp-B12.StyleGuide/blade-style-guide/sass/code */
code {
  font-family: courier;
  color: #000000;
  display: block;
  width: 80%;
  margin: 1em auto;
  padding: 0.3em;
  background-color: #B0B0B0;
  text-align: left; }
  @media screen and (min-width: 480px) and (max-width: 959px) {
    code {
      font-size: 0.65em; } }
  @media screen and (max-width: 479px) {
    code {
      font-size: 0.5em; } }
