* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-family: 'orbitronregular'; }

a {
  font-family: 'orbitronbold';
  font-weight: bold; }

h1, h2 {
  font-family: 'blade_runner_movie_fontRg'; }

@font-face {
  font-family: 'orbitronbold';
  src: url('fonts/orbitron-bold-webfont.eot');
  src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-bold-webfont.woff') format('woff'), url('fonts/orbitron-bold-webfont.ttf') format('truetype'), url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'orbitronregular';
  src: url('fonts/orbitron-regular-webfont.eot');
  src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-regular-webfont.woff') format('woff'), url('fonts/orbitron-regular-webfont.ttf') format('truetype'), url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'blade_runner_movie_fontRg';
  src: url('fonts/bladrmf_-webfont.eot');
  src: url('fonts/bladrmf_-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bladrmf_-webfont.woff') format('woff'), url('fonts/bladrmf_-webfont.ttf') format('truetype'), url('fonts/bladrmf_-webfont.svg#blade_runner_movie_fontRg') format('svg');
  font-weight: normal;
  font-style: normal; }

h1 {
  color: #FF5982;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

h2 {
  color: #CB68D2;
  font-size: 2.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

p {
  color: #999999;
  font-size: 1em; }

a {
  text-decoration: none;
  font-weight: 700;
  color: #50A8FF; }

.style-link {
  margin-top: 1.5em;
  display: inline-block; }

body {
  background-color: black; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.l-style {
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  background-color: white;
  display: block;
  padding-top: 1em; }

.l-foot {
  width: 100%;
  position: relative;
  top: 0;
  height: 5em;
  background-color: white;
  display: block;
  padding-top: 1.5em;
  margin-top: 2em; }

.l-style h1 {
  font-family: 'blade_runner_movie_fontRg';
  font-size: 4em;
  text-align: center;
  color: black;
  margin: 0; }

.l-foot h3 {
  font-family: 'blade_runner_movie_fontRg';
  font-size: 2em;
  text-align: center;
  color: black;
  margin: 0; }

.m-border h1 {
  font-family: 'Orbitron', 'sans-serif';
  font-size: 2em;
  color: black;
  margin: 0; }

.m-box-guide {
  position: relative;
  border: 0.2em solid white;
  max-width: 50em;
  background-color: transparent;
  padding: 4em 2em;
  margin: 0 auto;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4.5em; }

.m-border {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  width: 49.7em;
  padding: 1em 0; }

.m-box-blue {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #50A8FF; }

.m-box-blue p {
  color: white;
  font-size: 0.8em;
  margin-top: 3em; }

.m-box-pink {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #FF5982; }

.m-box-pink p {
  color: white;
  font-size: 0.8em;
  margin-top: 3em; }

.m-box-green {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #68D286; }

.m-box-green p {
  color: white;
  font-size: 0.8em;
  margin-top: 3em; }

.m-box-purple {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #CB68D2; }

.m-box-purple p {
  color: white;
  font-size: 0.8em;
  margin-top: 3em; }

.m-box-charc {
  display: inline-block;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 6em;
  height: 6em;
  background-color: #364339; }

.m-box-charc p {
  color: white;
  font-size: 0.8em;
  margin-top: 3em; }

.btn-par {
  width: 10em;
  height: 3em;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #68D286;
  border-radius: 0.5em;
  box-shadow: none;
  color: #68D286; }

article {
  border: 0.3em solid #50a8ff;
  padding: 1em;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5); }

.a-bloc {
  margin-top: 1.5em; }

/*# sourceMappingURL=application.css.map */