block article
  section.m-box-guide
    .m-border
      a#article
        h1 Article
    article.a-bloc
      h1 This is an Article
      p We need to explain why we have this article later on. We need to explain why we have this article later on. We need to explain why we have this article later on.
      pre
        code
          |  Use %art-default extension
          |  articles use .3em borders of $article-box color
          |  padding of 1em and justified text-align
          |  background-color is rgba(0, 0, 0, .5)

