block article
  section.m-box-guide
    .m-border
      h1 Article
    article.a-bloc
      h1 This is an Article
      p We need to explain why we have this article later on. We need to explain why we have this article later on. We need to explain why we have this article later on.
