block buttons
  section.m-box-guide
    .m-border
      a#buttons
        h1 Buttons
    button.btn-par1
      p Button 1
    button.btn-par2
      p button 2
    code
      | To style the buttons, call the @mixin btn-main($color) with a %btn-main-hover & %btn-text-fix extensions

