block color
  section.m-box-guide
    .m-border
      #color
        h1 Color Palette
    .m-box-blue
      p #50A8FF
    .m-box-pink
      p #FF5982
    .m-box-green
      p #68D286
    .m-box-purple
      p #CB68D2
    .m-box-charc
      p #FF6347
