block forms
  section.m-box-guide
    .m-border
      a#forms
        h1 Forms
    input(type="search" name="search" placeholder="Search" rel="search")
    code
      | To style forms, call the %search-box & %search-box-focus extensions
