block icons
  section.m-box-guide
    .m-border
      h1 Icon Fonts
    a.icon-newspaper.icon-style(href="#")
    a.icon-calendar.icon-style(href="#")
    a.icon-print.icon-style(href="#")
    a.icon-keyboard.icon-style(href="#")
    a.icon-cogs.icon-style(href="#")
    a.icon-meter.icon-style(href="#")
    a.icon-target.icon-style(href="#")
    a.icon-lightning.icon-style(href="#")
    a.icon-globe.icon-style(href="#")
    a.icon-earth.icon-style(href="#")
    a.icon-spam.icon-style(href="#")
