block icons
  section.m-box-guide
    .m-border
        a#icons
            h1 Icon Fonts
    a.icon-newspaper.icon-style(href="#")
    a.icon-calendar.icon-style(href="#")
    a.icon-print.icon-style(href="#")
    a.icon-keyboard.icon-style(href="#")
    a.icon-cogs.icon-style(href="#")
    a.icon-meter.icon-style(href="#")
    a.icon-target.icon-style(href="#")
    a.icon-lightning.icon-style(href="#")
    a.icon-globe.icon-style(href="#")
    a.icon-earth.icon-style(href="#")
    a.icon-spam.icon-style(href="#")
    pre
      code
        |  .icon-newspaper
        |  .icon-calendar
        |  .icon-print
        |  .icon-keyboard
        |  .icon-cogs
        |  .icon-meter
        |  .icon-target
        |  .icon-lightning
        |  .icon-globe
        |  .icon-earth
        |  .icon-spam
