extends layout

block content

  header.l-style
    h1 Style Guide

  .container
    include typography
    include color
    include article
    include nav
    include forms
    include buttons
    include icons

  footer.l-foot
    h3 This is a footer



