extends layout

block content
  h1= title

  section
    h1 Typography

  section
    h1 Color Palette
    h2 Backgrounds and Borders

  section
    h1 Header

  section
    h1 Footer

  section
    h1 Article

  section
    h1 Navigation

  section
    h1 Images

  section
    h1 Links

  section
    h1 Forms

  section
    h1 Buttons

  section
    h1 Icon Fonts


