extends layout

block content

  header.l-style
    h1 Style Guide
  .container

    //Put size and font next to h1, h2, and p
    section.m-box-guide
      .m-border
        h1 Typography
      h1 This is a headline
      h2 this is a sub headline
      p This is our paragraph type. We will add more about this font later.


    section.m-box-guide
      .m-border
        h1 Color Palette
      .m-box-blue
        p #50A8FF
      .m-box-pink
        p #FF5982
      .m-box-green
        p #68D286
      .m-box-purple
        p #CB68D2
      .m-box-charc
        p #364339

    //- section.m-box-guide
    //-   .m-border
    //-     h1 Header

    //- section.m-box-guide
    //-   .m-border
    //-     h1 Footer

    section.m-box-guide
      .m-border
        h1 Article
      article.a-bloc
        h1 This is an Article
        p We need to explain why we have this article later on. We need to explain why we have this article later on. We need to explain why we have this article later on.

    section.m-box-guide
      .m-border
        h1 Navigation

    //- section.m-box-guide
    //-   .m-border
    //-     h1 Images

    section.m-box-guide
      .m-border
        h1 Links

    section.m-box-guide
      .m-border
        h1 Forms

    section.m-box-guide
      .m-border
        h1 Buttons

    section.m-box-guide
      .m-border
        h1 Icon Fonts

  footer.l-foot
    h3 This is a footer


