extends layout

block content

  header.l-style
    h1 Style Guide
  .container

    section.m-box-guide
      .m-border
        h1 Typography


    section.m-box-guide
      .m-border
        h1 Color Palette
        h2 Backgrounds and Borders

    section.m-box-guide
      .m-border
        h1 Header

    section.m-box-guide
      .m-border
        h1 Footer

    section.m-box-guide
      .m-border
        h1 Article

    section.m-box-guide
      .m-border
        h1 Navigation

    section.m-box-guide
      .m-border
        h1 Images

    section.m-box-guide
      .m-border
        h1 Links

    section.m-box-guide
      .m-border
        h1 Forms

    section.m-box-guide
      .m-border
        h1 Buttons

    section.m-box-guide
      .m-border
        h1 Icon Fonts

  footer.l-foot
    h3 this is a footer


