block menu
  nav#menu
    p Jump to...
    a(href='#typography') Typography
    a(href='#color') Color Palette
    a(href='#article') Article
    a(href='#nav') Navigation
    a(href='#forms') Forms
    a(href='#buttons') Buttons
    a(href='#icons') Icon Fonts
