block menu
  nav#menu.slide-up
    p Jump to...
    a(href='#typography') Typography
    a(href='#color') Color Palette
    a(href='#article') Article
    a(href='#forms') Forms
    a(href='#buttons') Buttons
    a(href='#icons') Icon Fonts
  script(src='/javascripts/menu.js')
