block typography
  section.m-box-guide
    .m-border
      a#typography
        h1 Typography
    h1 This is a headline
    h2 this is a sub headline
    p This is our paragraph type. We will add more about this font later.
    p
      a.style-link(href="#") This is a link
    pre
      code
        | h1 font = $headlines: "blade_runner_movie_fontRg"
        | h1 color = $hl-color-one: #FF5982
        | h1 size = $h1-size: 3em
        | h2 font = $headlines: "blade_runner_movie_fontRg"
        | h2 color = $hl-color-two: #CB68D2
        | h2 size = $h2-size: 2.2em
        | p font = $parag: "orbitronregular"
        | p color = $p-color: #999999
        | p size = $p-size: 1em
        | a font = $anchor: "orbitronbold"
        | a color = $a-color: #50A8FF






