block typography
  section.m-box-guide
    .m-border
      h1 Typography
    h1 This is a headline
    h2 this is a sub headline
    p This is our paragraph type. We will add more about this font later.
    a.style-link(href="#") This is a link
