// pseudo for btn-main

%btn-main-hover {
    cursor: pointer;
    background-color: tomato;
}


// =====Correct text within button from slanting ====

%btn-text-fix{
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
