@mixin btn-main($color) {
    width: 10em;
    height: 3em;
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
    background: #68D286;
    border-radius: 0.5em;
    box-shadow: none;
    color: $color;
  }
